py-algorand-sdk==2.3.0
git+https://github.com/tinymanorg/tealish.git@109a2f2e74549307fb002298f4189df3f0ed7c4f
git+https://github.com/Hipo/algojig.git@c83a3439f87ab6497f567619e74ae35bed91eda3
git+https://github.com/tinymanorg/tinyman-py-sdk.git
